select#rowsPerPage {
  border: 1px solid #c2c2c2;
  height: 30px;
  color: #8c8686;
}

h1.display-4.mb-3 {
  color: #828282 !important;
}
p.lead {
  color: #979797 !important;
}
.noneButton {
  display: none !important;
}

/* Base do tooltip */
[data-title] {
  position: relative;
  cursor: pointer;
}

/* Tooltip aparece ao passar o mouse */
[data-title]:hover::after {
  content: attr(data-title);
  position: absolute;
  top: -35px; /* ajusta acima do botão */
  left: 50%;
  transform: translateX(-50%);
  background: #fff; /* fundo branco */
  color: #000; /* cor do texto */
  border: 2px solid #4e73df; /* borda azul */
  border-radius: 8px; /* cantos arredondados */
  padding: 4px 8px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10000;
  pointer-events: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Remove a seta azul */
[data-title]:hover::before {
  content: none;
}

td.text-end.text-nowrap {
  width: 50px !important;
}

/* Tabela */
.table-bordered th {
  background: #496edb;
  color: #fff;
}

.nav-link,
.btn,
.btn.btn-danger,
.btn.btn-primary {
  cursor: pointer !important;
}
.country-flag {
  cursor: pointer;
  width: 40px;
  border: 2px solid transparent;
  border-radius: 4px;
  filter: grayscale(100%); /* Deixa em preto e branco */
  transition: filter 0.3s, border 0.3s;
}

.country-flag:hover {
  filter: grayscale(0%);
}

.country-flag.selected {
  filter: grayscale(0%);
}

/* Pesquisar input */
#addressesContainer .search-input {
  width: 100%;
  padding: 6px 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Lista rolável */
#addressesContainer .checkbox-list {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
}

/* Cada item */
#addressesContainer .form-check {
  padding: 5px 2px;
  font-size: 0.95rem;
}

/* Hover */
#addressesContainer .form-check:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}

/* Checkbox grande */
#addressesContainer .form-check-input {
  width: 18px;
  height: 18px;
  margin-top: 0.3rem;
  margin-left: 5px !important;
}

label.form-check-label.custom {
  margin-left: 30px !important;
  margin-top: 2px;
}

/* 
 Smartphones pequenos 
 Celulares pequenos ≤ 576px 
*/
@media (max-width: 576px) {
  h1.display-4.mb-3 {
    font-size: 2em;
  }
  p.lead {
    font-size: 1em;
  }
}

/* 
 Smartphones em geral
 Celulares ≤ 768px
*/
@media (max-width: 768px) {
  h1.display-4.mb-3 {
    font-size: 2.5em;
  }
  p.lead {
    font-size: 1.5em;
  }
}

/* 
 Smartphones em geral deitado
 Celulares ≤ 768px
*/
@media (max-width: 768px) and (orientation: landscape) {
  /* Smartphone deitado */
}
