select#rowsPerPage {
  border: 1px solid #c2c2c2;
  height: 30px;
  color: #8c8686;
}

h1.display-4.mb-3 {
  color: #828282 !important;
}
p.lead {
  color: #979797 !important;
}
.noneButton {
  display: none !important;
}

/* Base do tooltip */
[data-title] {
  position: relative;
  cursor: pointer;
}

/* Tooltip aparece ao passar o mouse */
[data-title]:hover::after {
  content: attr(data-title);
  position: absolute;
  top: -35px; /* ajusta acima do botão */
  left: 50%;
  transform: translateX(-50%);
  background: #fff; /* fundo branco */
  color: #000; /* cor do texto */
  border: 2px solid #4e73df; /* borda azul */
  border-radius: 8px; /* cantos arredondados */
  padding: 4px 8px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10000;
  pointer-events: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Remove a seta azul */
[data-title]:hover::before {
  content: none;
}

td.text-end.text-nowrap {
  width: 50px !important;
}

/* Tabela */
.table-bordered th {
  background: #496edb;
  color: #fff;
}

.nav-link,
.btn,
.btn.btn-danger,
.btn.btn-primary {
  cursor: pointer !important;
}
.country-flag {
  cursor: pointer;
  width: 40px;
  border: 2px solid transparent;
  border-radius: 4px;
  filter: grayscale(100%); /* Deixa em preto e branco */
  transition: filter 0.3s, border 0.3s;
}

.country-flag:hover {
  filter: grayscale(0%);
}

.country-flag.selected {
  filter: grayscale(0%);
}

/* Pesquisar input */
#addressesContainer .search-input {
  width: 100%;
  padding: 6px 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Lista rolável */
#addressesContainer .checkbox-list {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
}

/* Cada item */
#addressesContainer .form-check {
  padding: 5px 2px;
  font-size: 0.95rem;
}

/* Hover */
#addressesContainer .form-check:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}

/* Checkbox grande */
#addressesContainer .form-check-input {
  width: 18px;
  height: 18px;
  margin-top: 0.3rem;
  margin-left: 5px !important;
}

label.form-check-label.custom {
  margin-top: 2px;
}

.form-label {
  font-weight: bold;
}

/* Container da lista */
.checkbox-list {
  background-color: #ffffff;
}

/* Item individual */
.checkbox-item {
  padding: 10px 8px;
  border-bottom: 1px solid #cfe2ff; /* azul claro */
}

/* Remove linha do último */
.checkbox-item:last-child {
  border-bottom: none;
}

/* Zebrado */
.checkbox-item:nth-child(even) {
  background-color: #f0f6ff; /* azul bem claro */
}

.checkbox-item:nth-child(odd) {
  background-color: #ffffff;
}

/* Hover (opcional, fica lindo 😄) */
.checkbox-item:hover {
  background-color: #e7f1ff;
}

/* Imagem */
.checkbox-item img {
  flex-shrink: 0;
  width: 50px;
  margin-left: 35px;
}

.btn,
a.nav-link {
  cursor: pointer !important;
}

.accordion-button:not(.collapsed) {
  background: #456bd8;
  color: #fff;
  font-size: 0.8em;
}

button.accordion-button.collapsed {
  font-size: 0.8em;
  background: #dbe4ff;
}

.accordion-body {
  background: #f2f2f2;
  min-height: 150px;
}

button#btnMap {
  height: 40px;
}

/* 
 Smartphones pequenos 
 Celulares pequenos ≤ 576px 
*/
@media (max-width: 576px) {
  h1.display-4.mb-3 {
    font-size: 2em;
  }
  p.lead {
    font-size: 1em;
  }
}
.table-responsive {
  overflow-x: hidden !important;
}

/* 
 Smartphones em geral
 Celulares ≤ 768px
*/
@media (max-width: 768px) {
  h1.display-4.mb-3 {
    font-size: 2.5em;
  }
  p.lead {
    font-size: 1.5em;
  }
}

.table-bordered td,
.table-bordered th {
  vertical-align: middle !important;
}

.invalid-feedback-custom {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #e74a3b;
}

.gender-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 2px;
  transition: border 0.2s;
}

.gender-option.selected {
  border-color: blue;
}

.gender-img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
}

.gender-label {
  margin-top: 4px;
  text-align: center;
}

img.gender-img {
  width: 50px;
}

/* 
 Smartphones em geral deitado
 Celulares ≤ 768px
*/
@media (max-width: 768px) and (orientation: landscape) {
  /* Smartphone deitado */
}
